In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [5]:
input_data_file = "Delivery truck trip data.xlsx"
train_data = pd.read_excel(input_data_file)
train_data.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})

,GpsProvider,BookingID,Market/Regular,BookingID_Date,vehicle_no,Origin_Location,Destination_Location,Org_lat_lon,Des_lat_lon,Data_Ping_time,...,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Minimum_kms_to_be_covered_in_a_day,Driver_Name,Driver_MobileNo,customerID,customerNameCode,supplierID,supplierNameCode,Material Shipped
0,CONSENT TRACK,MVCV0000927/082021,Market,2020-08-17 14:59:01.000,KA590408,"TVSLSL-PUZHAL-HUB,CHENNAI,TAMIL NADU","ASHOK LEYLAND PLANT 1- HOSUR,HOSUR,KARNATAKA","13.1550,80.1960","12.7400,77.8200",2020-08-24 00:05:09,...,320.0,NaN,NaN,NaN,NaN,ALLEXCHE45,Ashok leyland limited,VIJEXHOSR7,VIJAY TRANSPORT,BRACKET / GRAB HANDLE
1,VAMOSYS,VCV00014271/082021,Regular,2020-08-27 16:22:22.827,TN30BC5917,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:28,...,103.0,NaN,NaN,RAMESH,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,VJLEXSHE09,VJ LOGISTICS,ZB MODEL PLATE / 3143
2,CONSENT TRACK,VCV00014382/082021,Regular,2020-08-27 17:59:24.987,TN22AR2748,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8710,79.7390","11.8710,79.7390",2020-08-28 09:05:09,...,300.0,NaN,NaN,GIRI,NaN,LUTGCCHE06,Lucas tvs ltd,GSTEXLAK1Q,G.S. TRANSPORT,LETTERING / FUSO
3,VAMOSYS,VCV00014743/082021,Regular,2020-08-28 00:48:24.503,TN28AQ0781,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:31,...,61.0,NaN,NaN,RAVI,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,ARVEXNAM09,ARVINTH TRANSPORT,LU STRUT RA / RADIUS ROD
4,VAMOSYS,VCV00014744/082021,Regular,2020-08-28 01:23:19.243,TN68F1722,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8720,79.6320","11.8720,79.6320",2020-08-28 12:40:29,...,240.0,NaN,NaN,TAMIL,NaN,LUTGCCHE06,Lucas tvs ltd,SRTEXKOR96,SR TRANSPORTS,WISHBONE / V ROD/HDT

In [6]:
train_data.drop_duplicates(inplace=True)
train_data.shape

(6880, 32)

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6880 entries, 0 to 6879
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   GpsProvider                         5927 non-null   object
 1   BookingID                           6880 non-null   object
 2   Market/Regular                      6880 non-null   object
 3   BookingID_Date                      6880 non-null   datetime64[ns]
 4   vehicle_no                          6880 non-null   object
 5   Origin_Location                     6880 non-null   object
 6   Destination_Location                6880 non-null   object
 7   Org_lat_lon                         6880 non-null   object
 8   Des_lat_lon                         6880 non-null   object
 9   Data_Ping_time                      5927 non-null   datetime64[ns]
 10  Planned_ETA                         6880 non-null   datetime64[ns]
 11  Current_Location                    5916 non-null   object
 12  DestinationLocation                 6880 non-null   object
 13  actual_eta                          6843 non-null   datetime64[ns]
 14  Curr_lat                            5927 non-null   float64
 15  Curr_lon                            5927 non-null   float64
 16  ontime                              2548 non-null   object
 17  delay                               4342 non-null   object
 18  OriginLocation_Code                 6877 non-null   object
 19  DestinationLocation_Code            6853 non-null   object
 20  trip_start_date                     6880 non-null   datetime64[ns]
 21  trip_end_date                       6686 non-null   datetime64[ns]
 22  TRANSPORTATION_DISTANCE_IN_KM       6168 non-null   float64
 23  vehicleType                         6052 non-null   object
 24  Minimum_kms_to_be_covered_in_a_day  2820 non-null   float64
 25  Driver_Name                         3451 non-null   object
 26  Driver_MobileNo                     2691 non-null   float64
 27  customerID                          6880 non-null   object
 28  customerNameCode                    6880 non-null   object
 29  supplierID                          6880 non-null   object
 30  supplierNameCode                    6880 non-null   object
 31  Material Shipped                    6880 non-null   object
dtypes: datetime64[ns](6), float64(5), object(21)
memory usage: 1.7+ MB

In [8]:
train_data.drop(train_data.columns[2],axis=1,inplace=True)

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6880 entries, 0 to 6879
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   GpsProvider                         5927 non-null   object
 1   BookingID                           6880 non-null   object
 2   BookingID_Date                      6880 non-null   datetime64[ns]
 3   vehicle_no                          6880 non-null   object
 4   Origin_Location                     6880 non-null   object
 5   Destination_Location                6880 non-null   object
 6   Org_lat_lon                         6880 non-null   object
 7   Des_lat_lon                         6880 non-null   object
 8   Data_Ping_time                      5927 non-null   datetime64[ns]
 9   Planned_ETA                         6880 non-null   datetime64[ns]
 10  Current_Location                    5916 non-null   object
 11  DestinationLocation                 6880 non-null   object
 12  actual_eta                          6843 non-null   datetime64[ns]
 13  Curr_lat                            5927 non-null   float64
 14  Curr_lon                            5927 non-null   float64
 15  ontime                              2548 non-null   object
 16  delay                               4342 non-null   object
 17  OriginLocation_Code                 6877 non-null   object
 18  DestinationLocation_Code            6853 non-null   object
 19  trip_start_date                     6880 non-null   datetime64[ns]
 20  trip_end_date                       6686 non-null   datetime64[ns]
 21  TRANSPORTATION_DISTANCE_IN_KM       6168 non-null   float64
 22  vehicleType                         6052 non-null   object
 23  Minimum_kms_to_be_covered_in_a_day  2820 non-null   float64
 24  Driver_Name                         3451 non-null   object
 25  Driver_MobileNo                     2691 non-null   float64
 26  customerID                          6880 non-null   object
 27  customerNameCode                    6880 non-null   object
 28  supplierID                          6880 non-null   object
 29  supplierNameCode                    6880 non-null   object
 30  Material Shipped                    6880 non-null   object
dtypes: datetime64[ns](6), float64(5), object(20)
memory usage: 1.7+ MB

In [10]:
train_data.drop(train_data.columns[[15,16,26,27,28,29,30]],axis=1,inplace=True)

In [11]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6880 entries, 0 to 6879
Data columns (total 24 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   GpsProvider                         5927 non-null   object
 1   BookingID                           6880 non-null   object
 2   BookingID_Date                      6880 non-null   datetime64[ns]
 3   vehicle_no                          6880 non-null   object
 4   Origin_Location                     6880 non-null   object
 5   Destination_Location                6880 non-null   object
 6   Org_lat_lon                         6880 non-null   object
 7   Des_lat_lon                         6880 non-null   object
 8   Data_Ping_time                      5927 non-null   datetime64[ns]
 9   Planned_ETA                         6880 non-null   datetime64[ns]
 10  Current_Location                    5916 non-null   object
 11  DestinationLocation                 6880 non-null   object
 12  actual_eta                          6843 non-null   datetime64[ns]
 13  Curr_lat                            5927 non-null   float64
 14  Curr_lon                            5927 non-null   float64
 15  OriginLocation_Code                 6877 non-null   object
 16  DestinationLocation_Code            6853 non-null   object
 17  trip_start_date                     6880 non-null   datetime64[ns]
 18  trip_end_date                       6686 non-null   datetime64[ns]
 19  TRANSPORTATION_DISTANCE_IN_KM       6168 non-null   float64
 20  vehicleType                         6052 non-null   object
 21  Minimum_kms_to_be_covered_in_a_day  2820 non-null   float64
 22  Driver_Name                         3451 non-null   object
 23  Driver_MobileNo                     2691 non-null   float64
dtypes: datetime64[ns](6), float64(5), object(13)
memory usage: 1.3+ MB

In [12]:
train_data=train_data.dropna()
train_data

,GpsProvider,BookingID,BookingID_Date,vehicle_no,Origin_Location,Destination_Location,Org_lat_lon,Des_lat_lon,Data_Ping_time,Planned_ETA,...,Curr_lon,OriginLocation_Code,DestinationLocation_Code,trip_start_date,trip_end_date,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Minimum_kms_to_be_covered_in_a_day,Driver_Name,Driver_MobileNo
417,CONSENT TRACK,AEIBK2026966,2020-08-21 19:11:26,UP17AT5999,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Dadri, Gautam Buddha Nagar, Uttar Pradesh","26.192290403509681,91.751276775362513","28.553524,77.573405",2020-08-20 12:20:11,2020-08-22 23:18:26,...,77.785134,V0045300,LE005300,2020-08-25 16:25:00,2020-08-25 16:46:00,43.0,40 FT 3XL Trailer 35MT,250.0,Yogesh Kumar,7.840822e+09
418,CONSENT TRACK,AEIBK2026766,2020-08-20 17:57:29,UP17AT8988,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Bhikki, Muzaffarnagar, Uttar Pradesh","28.658633,77.438643","29.420166,77.784542",2020-08-24 15:15:08,2020-08-22 02:06:29,...,77.472220,V0045769,LE006057,2020-08-25 12:48:00,2020-08-25 16:42:00,84.9,40 FT 3XL Trailer 35MT,250.0,Mustkeem Khan,7.500061e+09
419,CONSENT TRACK,AEIBK2026765,2020-08-20 17:53:05,UP78FN4706,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Shah Mohiuddinpur, Ghaziabad, Uttar Pradesh","28.658633,77.438643","28.697729,77.768095",2020-08-25 14:40:16,2020-08-21 23:15:05,...,77.650820,V0045769,LE006055,2020-08-25 13:06:00,2020-08-25 16:42:00,56.0,40 FT 3XL Trailer 35MT,250.0,Shakeel,9.368975e+09
421,CONSENT TRACK,AEIBK2026772,2020-08-20 18:23:33,UP17T8250,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Muzakkipur, Meerut, Uttar Pradesh","28.658633,77.438643","28.91386,77.54849",2020-08-25 13:55:09,2020-08-21 21:44:33,...,77.459100,V0045769,LE005786,2020-08-25 13:14:00,2020-08-25 16:42:00,35.0,40 FT 3XL Trailer 35MT,250.0,Satendra Kumar Tyagi,9.355651e+09
422,CONSENT TRACK,AEIBK2026929,2020-08-21 18:15:12,UP17AT4570,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Dadri, Gautam Buddha Nagar, Uttar Pradesh","26.192290403509681,91.751276775362513","28.553524,77.573405",2020-08-24 16:15:09,2020-08-22 22:22:12,...,77.665057,V0045300,LE005304,2020-08-25 14:05:00,2020-08-25 16:46:00,43.0,40 FT 3XL Trailer 35MT,250.0,Salman,7.827494e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3761,CONSENT TRACK,AEIBK1910732,2019-12-30 18:23:49,OD14L7676,"Garudagaon, Cuttack, Odisha","Jadupur, Kendrapara, Odisha","16.560192249175344,80.792293091599547","20.40294,86.489546",2020-01-02 20:25:11,2019-12-31 01:55:49,...,86.030420,V0048673,LE005683,2019-12-30 18:23:49,2020-01-11 20:49:00,78.5,40 FT 3XL Trailer 35MT,250.0,BILAL ALI,8.650072e+09
3763,CONSENT TRACK,AEIBK2011419,2020-01-07 14:56:40,AP16TY1859,"Gopavarapugudem, Krishna, Andhra Pradesh","Muktyala, Krishna, Andhra Pradesh","16.5094,80.82117","16.823398,80.074446",2020-01-02 19:05:50,2020-01-08 02:09:40,...,80.515490,VMR00825,LE005847,2020-01-07 14:56:40,2020-01-10 14:11:00,117.0,40 FT 3XL Trailer 35MT,250.0,Bharath Hanoku,9.848893e+09
3835,CONSENT TRACK,AEIBK1910132,2019-12-26 19:56:20,NL01D5206,"B.S.City Plant, Bokaro, Jharkhand","Palu, Ranchi, Jharkhand","23.675623,86.096278","23.530626,85.458186",2019-12-30 18:20:13,2019-12-27 05:21:20,...,86.102707,V0051675,LEC06490,2019-12-26 19:56:20,2020-01-11 17:16:00,98.1,40 FT Flat Bed Multi-Axle 27MT - Trailer,250.0,Shiv Lal Marandi,6.201157e+09
3876,CONSENT TRACK,AEIBK1909663,2019-12-21 18:48:49,NL01K7906,"Bokaro Steel City, Bokaro, Jharkhand","Palu, Ranchi, Jharkhand","23.67348,86.129379","23.530626,85.458186",2019-12-27 15:50:13,2019-12-22 09:00:49,...,86.328034,V0051675,LE005263,2019-12-21 18:48:49,2020-01-11 17:16:00,148.0,40 FT 3XL Trailer 35MT,250.0,Sunil Rajwar,6.201995e+09
4319,CONSENT TRACK,AEIBK1906955,2019-11-30 15:10:27,GJ15UU7437,"Changodar, Ahmedabad, Gujarat","Zanu, Ahmedabad, Gujarat","16.560192249175344,80.792293091599547","23.042185,72.697893",2019-12-05 17:50:15,2019-11-30 17:34:27,...,73.078550,V0048673,LE005101,2019-11-30 15:10:27,2020-01-02 14:24:00,25.0,40 FT 3XL Trailer 35MT,250.0,Mahendra Singh,8.949298e+09

In [17]:
# input_data_file = "cleartrip_com-travel_sample.csv"
df = pd.read_csv('cleartrip_com-travel_sample.csv')
df

,address,area,city,cleartrip_seller_rating,country,crawl_date,hotel_description,hotel_facilities,hotel_star_rating,image_count,...,room_facilities,room_type,similar_hotel,sitename,state,tad_review_count,tad_review_rating,tad_stay_review_rating,tripadvisor_seller_rating,uniq_id
0,"9th Mile, Kalimpong",Rishi Road-Highway 12,Kalimpong,NaN,INDIA,2016-08-16,"Hotel Jiwan Jyoti, Kalimpong is an ultimate st...",Travel:Travel Desk|Parking|Free Parking|Person...,1 Star hotel,10,...,Toiletries | Luggage Rack | Private Bathroom,Standard Room,380320|42243|719031|731828,http://www.cleartrip.com,WestBengal,NaN,NaN,NaN,NaN,661f071f6cf68a7b0e79cc97dd1b38c8
1,"New Kalimati Road, Kasidih, Sakchi",NaN,Jamshedpur,NaN,INDIA,2016-08-16,Retire to the beautiful rooms of OYO Premium K...,Food &amp; Beverage:Bar|Restaurant|Basics:Inte...,3 Star hotel,10,...,Air Conditioning | Television | Toiletries Int...,Premium Room,1358306|1358328|708981|1358308|1358324,http://www.cleartrip.com,Jharkhand,NaN,NaN,NaN,NaN,06e5a2147666c30db4257c5faa43700e
2,"Opposite Nagarpalika, Near Pushkarna Bera, Pos...",NaN,Jaisalmer,NaN,INDIA,2016-08-16,OYO Rooms Bera Road in Jaisalmer has a royal c...,Basics:Internet|Air Conditioning|Doorman|House...,3 Star hotel,10,...,Air Conditioning | Television | Refrigerator I...,Standard Room AC,1324136|714826|378862|709231|315577,http://www.cleartrip.com,Rajasthan,NaN,NaN,NaN,NaN,3d8d4724ea98e060610864bd6950179b
3,"11-3-11 Veterinary Hospital road,Ramarao peta",Cinema Road,Kakinada,NaN,INDIA,2016-08-16,Situated in quite part of the city yet close t...,Food &amp; Beverage:Bar|Restaurant|Coffee Shop...,3 Star hotel,12,...,Air Conditioning| Television| Iron| Mini Bar| ...,Business Room,711094|713285|711106|713171|319938,http://www.cleartrip.com,AndhraPradesh,47.0,4.5,Location::4.5|Rooms::4.5|Service::4.5|Value::4...,Top 1%,839ca0df66d13f30a8e273080771600b
4,"Near Fort First Gate, Dhibbapara",Near Jaisalmer Golden Fort,Jaisalmer,NaN,INDIA,2016-08-16,"Hotel Gorakh Haveli, Jaisalmer, with hospitali...",Basics:Internet|Air Conditioning|Non-Smoking R...,3 Star hotel,17,...,Television| Internet / Broadband| Telephone| W...,Deluxe,1324136|714826|378862|709231|315577,http://www.cleartrip.com,Rajasthan,86.0,4.0,Location::4.5|Rooms::4.0|Service::4.0|Value::4...,Top 31%,97ec6c27ce6cbfa24869473a15d14ef2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Nagrath Square,Nagrath Square,Jabalpur,NaN,INDIA,2016-09-01,"Hotel Prestige Princess, Jabalpur, sports an i...",Food &amp; Beverage:Bar|Restaurant|Business Se...,3 Star hotel,15,...,Air Conditioning| Television| Safe | Telephone...,Royal Club Room,1330748|1344672|1324788|737528|1358806,https://www.cleartrip.com,MadhyaPradesh,27.0,2.5,Location::4.0|Rooms::3.0|Service::3.0|Value::3...,Top 46%,ea4453552afc3f821d72618d4b05f01a
4996,"Flat 305, Anand Nilayam Apartments Anndorai Ch...",Ameerpet,Hyderabad,NaN,INDIA,2016-09-01,"Treats Inn-Ameerpet, Hyderabad is a decent ser...",Basics:Internet|Air Conditioning|Express Check...,NaN,13,...,Air Conditioning | Television | Private Bathroom,Standard Room,NaN,https://www.cleartrip.com,AndhraPradesh,NaN,NaN,NaN,NaN,cdbdf38a1d737a49e21636ac9aaaab8d
4997,"Beside Google Office, Kondapur",Hitech City,Hyderabad,NaN,INDIA,2016-09-01,"Hotel Minerva Grand Kondapur, Hyderabad, is sy...",Food &amp; Beverage:Bar|Restaurant|Coffee Shop...,3 Star hotel,12,...,Internet / Broadband| Iron| Mini Bar| Telephon...,Premium Room,1330498|334800|378865|1330494|319895,https://www.cleartrip.com,AndhraPradesh,81.0,4.0,Location::4.5|Rooms::4.5|Service::4.0|Value::4...,Top 5%,5e2a5cecf732637e8e6caff1cb4a2af7
4998,"Thumkunta Village, Karimnagar Main Road Shamee...",Secunderabad,Hyderabad,10.0,INDIA,2016-09-01,"Aalankrita Resort And Spa, Hyderabad is a 4sta...",Food &amp; Beverage:Bar|Restaurant|Coffee Shop...,4 Star hotel,11,...,Air Conditioning| Mini Bar| Safe| Telephone| I...,Standard Room,384377|707589|726541|42109|319515,https://www.cleartrip.com,AndhraPradesh,363.0,4.0,Location::4.0|Rooms::4.0|Service::4.0|Value::4...,Top 3%,19d1974b350bd766a294c9e947ed7e6d
4999,"Near Fort 1st Gate and Behind Shiv Road, Jaisa...",Near Jaisalmer Golden Fort,Jaisalmer,NaN,INDIA,2016-09-01,"Hotel Roop Mahal, Jaisalmer provides the best ...",Food &amp; Beverage:Bar|Restaurant|Basics:Inte...,3 Star hotel,13,...,Television | Ceiling Fan | Private Bathroom,Standard Non-Ac Room,1324136|714826|378862|709231|315577,https://www.cleartrip.com,Rajasthan,198.0,4.5,Location::4.0|Rooms::4.0|Service::4.5|Value::4...,Top 1%,946f25271525fb61446ba5f3771ea659

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   address                    4995 non-null   object
 1   area                       4909 non-null   object
 2   city                       5000 non-null   object
 3   cleartrip_seller_rating    427 non-null    float64
 4   country                    5000 non-null   object
 5   crawl_date                 5000 non-null   object
 6   hotel_description          4655 non-null   object
 7   hotel_facilities           4964 non-null   object
 8   hotel_star_rating          4746 non-null   object
 9   image_count                5000 non-null   int64
 10  image_urls                 4995 non-null   object
 11  landmark                   5000 non-null   object
 12  latitude                   4883 non-null   float64
 13  locality                   4909 non-null   object
 14  longitude                  4882 non-null   float64
 15  pageurl                    5000 non-null   object
 16  property_id                5000 non-null   int64
 17  property_name              5000 non-null   object
 18  property_type              2766 non-null   object
 19  province                   5000 non-null   object
 20  qts                        5000 non-null   object
 21  room_area                  632 non-null    object
 22  room_count                 5000 non-null   int64
 23  room_facilities            4938 non-null   object
 24  room_type                  4999 non-null   object
 25  similar_hotel              4654 non-null   object
 26  sitename                   5000 non-null   object
 27  state                      4993 non-null   object
 28  tad_review_count           3582 non-null   float64
 29  tad_review_rating          3582 non-null   float64
 30  tad_stay_review_rating     3582 non-null   object
 31  tripadvisor_seller_rating  3582 non-null   object
 32  uniq_id                    5000 non-null   object
dtypes: float64(5), int64(3), object(25)
memory usage: 1.3+ MB

In [19]:
df=df.drop('similar_hotel',axis=1)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   address                    4995 non-null   object
 1   area                       4909 non-null   object
 2   city                       5000 non-null   object
 3   cleartrip_seller_rating    427 non-null    float64
 4   country                    5000 non-null   object
 5   crawl_date                 5000 non-null   object
 6   hotel_description          4655 non-null   object
 7   hotel_facilities           4964 non-null   object
 8   hotel_star_rating          4746 non-null   object
 9   image_count                5000 non-null   int64
 10  image_urls                 4995 non-null   object
 11  landmark                   5000 non-null   object
 12  latitude                   4883 non-null   float64
 13  locality                   4909 non-null   object
 14  longitude                  4882 non-null   float64
 15  pageurl                    5000 non-null   object
 16  property_id                5000 non-null   int64
 17  property_name              5000 non-null   object
 18  property_type              2766 non-null   object
 19  province                   5000 non-null   object
 20  qts                        5000 non-null   object
 21  room_area                  632 non-null    object
 22  room_count                 5000 non-null   int64
 23  room_facilities            4938 non-null   object
 24  room_type                  4999 non-null   object
 25  sitename                   5000 non-null   object
 26  state                      4993 non-null   object
 27  tad_review_count           3582 non-null   float64
 28  tad_review_rating          3582 non-null   float64
 29  tad_stay_review_rating     3582 non-null   object
 30  tripadvisor_seller_rating  3582 non-null   object
 31  uniq_id                    5000 non-null   object
dtypes: float64(5), int64(3), object(24)
memory usage: 1.2+ MB

In [21]:
df=df.drop(df.columns[[5,6,7,8,9,10,15,17,18,19,20,21,23,24,25,26,28,29,30,31]],axis=1)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   address                  4995 non-null   object
 1   area                     4909 non-null   object
 2   city                     5000 non-null   object
 3   cleartrip_seller_rating  427 non-null    float64
 4   country                  5000 non-null   object
 5   landmark                 5000 non-null   object
 6   latitude                 4883 non-null   float64
 7   locality                 4909 non-null   object
 8   longitude                4882 non-null   float64
 9   property_id              5000 non-null   int64
 10  room_count               5000 non-null   int64
 11  tad_review_count         3582 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 468.9+ KB

In [23]:
df=df.drop(('cleartrip_seller_rating'),axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   address           4995 non-null   object
 1   area              4909 non-null   object
 2   city              5000 non-null   object
 3   country           5000 non-null   object
 4   landmark          5000 non-null   object
 5   latitude          4883 non-null   float64
 6   locality          4909 non-null   object
 7   longitude         4882 non-null   float64
 8   property_id       5000 non-null   int64
 9   room_count        5000 non-null   int64
 10  tad_review_count  3582 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 429.8+ KB

In [24]:
df=df.dropna()
df

,address,area,city,country,landmark,latitude,locality,longitude,property_id,room_count,tad_review_count
3,"11-3-11 Veterinary Hospital road,Ramarao peta",Cinema Road,Kakinada,INDIA,"Cinema Road, Kakinada",16.964426,Cinema Road,82.231619,1324474,85,47.0
4,"Near Fort First Gate, Dhibbapara",Near Jaisalmer Golden Fort,Jaisalmer,INDIA,"Near Jaisalmer Golden Fort, Jaisalmer",26.916311,Near Jaisalmer Golden Fort,70.908312,354020,17,86.0
5,"High Court Colony, Jodhpur. Rajasthan (India).",Ratanada Petrol Pump,Jodhpur,INDIA,"Ratanada Petrol Pump, Jodhpur",26.284648,Ratanada Petrol Pump,73.016223,719913,5,22.0
6,"SCO 44 - 45, New Grain Market, Kalka",Near Kalka Railway Station,Kalka,INDIA,"Near Kalka Railway Station, Kalka",30.837324,Near Kalka Railway Station,76.934050,726205,8,7.0
7,"2-18 A6, Near Seashore",Near Vivekananda Rock Memorial,Kanyakumari,INDIA,"Near Vivekananda Rock Memorial, Kanyakumari",8.082693,Near Vivekananda Rock Memorial,77.551019,307380,70,848.0
...,...,...,...,...,...,...,...,...,...,...,...
4994,"Pareek College Road, Banipark, Near Lal Pyaoo",Bani Park,Jaipur,INDIA,"Bani Park, Jaipur",26.925054,Bani Park,75.802445,308880,60,103.0
4995,Nagrath Square,Nagrath Square,Jabalpur,INDIA,"Nagrath Square, Jabalpur",23.162682,Nagrath Square,79.941818,40576,43,27.0
4997,"Beside Google Office, Kondapur",Hitech City,Hyderabad,INDIA,"Hitech City, Hyderabad",17.458300,Hitech City,78.371188,386795,57,81.0
4998,"Thumkunta Village, Karimnagar Main Road Shamee...",Secunderabad,Hyderabad,INDIA,"Secunderabad, Hyderabad",17.585776,Secunderabad,78.560371,718630,113,363.0
4999,"Near Fort 1st Gate and Behind Shiv Road, Jaisa...",Near Jaisalmer Golden Fort,Jaisalmer,INDIA,"Near Jaisalmer Golden Fort, Jaisalmer",26.912189,Near Jaisalmer Golden Fort,70.910350,721644,11,198.0

In [14]:
df1=train_data.head(10)
df1

,GpsProvider,BookingID,BookingID_Date,vehicle_no,Origin_Location,Destination_Location,Org_lat_lon,Des_lat_lon,Data_Ping_time,Planned_ETA,...,Curr_lon,OriginLocation_Code,DestinationLocation_Code,trip_start_date,trip_end_date,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Minimum_kms_to_be_covered_in_a_day,Driver_Name,Driver_MobileNo
417,CONSENT TRACK,AEIBK2026966,2020-08-21 19:11:26,UP17AT5999,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Dadri, Gautam Buddha Nagar, Uttar Pradesh","26.192290403509681,91.751276775362513","28.553524,77.573405",2020-08-20 12:20:11,2020-08-22 23:18:26,...,77.785134,V0045300,LE005300,2020-08-25 16:25:00,2020-08-25 16:46:00,43.0,40 FT 3XL Trailer 35MT,250.0,Yogesh Kumar,7.840822e+09
418,CONSENT TRACK,AEIBK2026766,2020-08-20 17:57:29,UP17AT8988,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Bhikki, Muzaffarnagar, Uttar Pradesh","28.658633,77.438643","29.420166,77.784542",2020-08-24 15:15:08,2020-08-22 02:06:29,...,77.472220,V0045769,LE006057,2020-08-25 12:48:00,2020-08-25 16:42:00,84.9,40 FT 3XL Trailer 35MT,250.0,Mustkeem Khan,7.500061e+09
419,CONSENT TRACK,AEIBK2026765,2020-08-20 17:53:05,UP78FN4706,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Shah Mohiuddinpur, Ghaziabad, Uttar Pradesh","28.658633,77.438643","28.697729,77.768095",2020-08-25 14:40:16,2020-08-21 23:15:05,...,77.650820,V0045769,LE006055,2020-08-25 13:06:00,2020-08-25 16:42:00,56.0,40 FT 3XL Trailer 35MT,250.0,Shakeel,9.368975e+09
421,CONSENT TRACK,AEIBK2026772,2020-08-20 18:23:33,UP17T8250,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Muzakkipur, Meerut, Uttar Pradesh","28.658633,77.438643","28.91386,77.54849",2020-08-25 13:55:09,2020-08-21 21:44:33,...,77.459100,V0045769,LE005786,2020-08-25 13:14:00,2020-08-25 16:42:00,35.0,40 FT 3XL Trailer 35MT,250.0,Satendra Kumar Tyagi,9.355651e+09
422,CONSENT TRACK,AEIBK2026929,2020-08-21 18:15:12,UP17AT4570,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Dadri, Gautam Buddha Nagar, Uttar Pradesh","26.192290403509681,91.751276775362513","28.553524,77.573405",2020-08-24 16:15:09,2020-08-22 22:22:12,...,77.665057,V0045300,LE005304,2020-08-25 14:05:00,2020-08-25 16:46:00,43.0,40 FT 3XL Trailer 35MT,250.0,Salman,7.827494e+09
426,CONSENT TRACK,AEIBK2026439,2020-08-18 17:34:01,UP17AT5999,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Shah Mohiuddinpur, Ghaziabad, Uttar Pradesh","28.658633,77.438643","28.697729,77.768095",2020-08-20 12:20:11,2020-08-19 22:56:01,...,77.785134,V0045769,LE006055,2020-08-21 17:01:00,2020-08-25 16:22:00,56.0,40 FT 3XL Trailer 35MT,250.0,Sabu Khan,9.354332e+09
447,CONSENT TRACK,AEIBK2026440,2020-08-18 17:35:40,UP17AT4210,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Shah Mohiuddinpur, Ghaziabad, Uttar Pradesh","28.658633,77.438643","28.697729,77.768095",2020-08-25 00:00:09,2020-08-19 22:57:40,...,77.434720,V0045769,LE006055,2020-08-21 13:39:00,2020-08-25 14:04:00,56.0,40 FT 3XL Trailer 35MT,250.0,Murari Singh,9.520300e+09
450,CONSENT TRACK,AEIBK2026442,2020-08-18 17:41:56,UP17AT4570,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Sanpla Khatri, Saharanpur, Uttar Pradesh","28.658633,77.438643","29.660051,77.724463",2020-08-24 16:15:09,2020-08-20 09:02:56,...,77.665057,V0045769,LE005958,2020-08-21 13:59:00,2020-08-25 14:04:00,160.0,40 FT 3XL Trailer 35MT,250.0,Birendra Kumar,7.827494e+09
455,CONSENT TRACK,AEIBK2026437,2020-08-18 17:28:42,UP17AT0059,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Bhikki, Muzaffarnagar, Uttar Pradesh","28.658633,77.438643","29.420166,77.784542",2020-08-20 12:25:09,2020-08-20 01:37:42,...,77.712990,V0045769,LE006057,2020-08-21 13:02:00,2020-08-25 12:46:00,84.9,40 FT 3XL Trailer 35MT,250.0,Satendra Prasad Pandey,8.368662e+09
456,CONSENT TRACK,AEIBK2026438,2020-08-18 17:30:06,UP17T9436,"Ramte Ram Road, Ghaziabad, Uttar Pradesh","Bhikki, Muzaffarnagar, Uttar Pradesh","28.658633,77.438643","29.420166,77.784542",2020-08-25 10:30:20,2020-08-20 01:39:06,...,77.642130,V0045769,LE006057,2020-08-21 17:00:00,2020-08-25 12:46:00,84.9,40 FT 3XL Trailer 35MT,250.0,Yogesh Kumar,7.840822e+09

In [27]:
from math import radians, cos, sin, asin, sqrt
def distance(lat1, lat2, lon1, lon2):
     
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    return(c * r)

for i in range(0,10):
  instance=df1.iloc[i]
  instance=instance.tolist()

  x=instance[6]
  y=instance[7]
  a=x.split(",")
  b=y.split(",")
  lat1 = float(a[0])
  lat2 = float(b[0])
  lon1 = float(a[0])
  lon2 =  float(b[1])

  #converting distance to integer to run loop and also because some amount of error is tolerable
  dist=int(distance(lat1, lat2, lon1, lon2))

  rest_stops=0

  for kms_gone_by in range(0,dist):
    if(kms_gone_by%500==0):
      rest_stops+=1

  print("driver ",instance[22]," needs ",rest_stops," stops on the way from ",instance[4]," to ",instance[5])

driver  Yogesh Kumar  needs  11  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Dadri, Gautam Buddha Nagar, Uttar Pradesh
driver  Mustkeem Khan  needs  10  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Bhikki, Muzaffarnagar, Uttar Pradesh
driver  Shakeel  needs  10  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Shah Mohiuddinpur, Ghaziabad, Uttar Pradesh
driver  Satendra Kumar Tyagi  needs  10  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Muzakkipur, Meerut, Uttar Pradesh
driver  Salman  needs  11  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Dadri, Gautam Buddha Nagar, Uttar Pradesh
driver  Sabu Khan  needs  10  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Shah Mohiuddinpur, Ghaziabad, Uttar Pradesh
driver  Murari Singh  needs  10  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Shah Mohiuddinpur, Ghaziabad, Uttar Pradesh
driver  Birendra Kumar  needs  10  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Sanpla Khatri, Saharanpur, Uttar Pradesh
driver  Satendra Prasad Pandey  needs  10  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Bhikki, Muzaffarnagar, Uttar Pradesh
driver  Yogesh Kumar  needs  10  stops on the way from  Ramte Ram Road, Ghaziabad, Uttar Pradesh  to  Bhikki, Muzaffarnagar, Uttar Pradesh